{% extends 'base.html' %}

{% block content %}
  <main class="container">
    <div class="container">
      <h3>Create a new account</h3>
    </div>

    <div class="container">
      <form method="POST">
        <div class="grid">
          <label for="firstname">First name<input type="text" id="firstname" name="firstname" placeholder="First name" required /></label>
          <label for="lastname">Last name<input type="text" id="lastname" name="lastname" placeholder="Last name" required /></label>
        </div>
        <div class="grid">
          <label for="password">Password<input type="password" id="password" name="password" placeholder="Password" required /></label>
          <label for="password_conf">Password<input type="password" id="password_conf" name="password_conf" placeholder="Confirm password" required /></label>
        </div>

        <label for="email">Email address<input type="email" id="email" name="email" placeholder="Email address" required /></label>
        <label for="company">Company name<input type="text" id="company" name="company" placeholder="Company name" required /></label>
        <small>We'll never share your data with anyone else.</small>

        <button type="submit">Sign up!</button>
      </form>
    </div>
  </main>
{% endblock %}
